@model System.Data.DataTable

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>
<p>
    <a href="@Url.Action("Create","SalesTransaction")">Add Sales Transaction</a>
</p>

<table class="table table-bordered table-striped">
    <tr>
        <th>Transction Name</th>
        <th>Code</th>
        <th>Amount</th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>
                <a href="@Url.Action("Edit", "SalesTransaction", new {@id=@Model.Rows[i][0] })">Edit</a>
                <a href="@Url.Action("Delete", "SalesTransaction", new {@id=@Model.Rows[i][0] })">Delete</a>
            </td>
        </tr>
    }
</table>
